[Unit]
Description=Sync Nextcloud calendars every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true
Unit=vdirsyncer-nextcloud.service

[Install]
WantedBy=timers.target
