[submodule "Programs/git/user.js"]
	path = Programs/git/user.js
	url = https://github.com/arkenfox/user.js
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
